body{margin: 0;
    background-color: #9c9c9c;
    /*background-repeat: no-repeat;
    background-size: 100% 100%;*/
}
.top{
    margin: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-top: solid 20px rgb(102, 8, 8);
}
.upheader{
    display: flex;
    justify-content: flex-start;
}
img{
    width: 70px;
    height: 70px;
}
.h1body{
    margin-left: 1px;
    vertical-align:middle;
    margin-bottom: 9px;
    color: #000;
    font-family: sans-serif;
}
.h1body sup{
    font-size: 12px;
}
#troisligne{
    display: flex;
    position: fixed;
    top: 30px;
    right: 20px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px rgb(102, 8, 8);
    z-index: 1001;
}
.a{
    width: 18px;
    height: 2px;
    background-color: rgb(102, 8, 8);
    margin-top: 5px;
    border-radius: 50%;
}
#troisligne:hover{
    background: #15151534;
    transition: 1s;
    cursor: pointer;
}
input[type="search"]{
    position: absolute;
    left: 35%;
    top: 35px;
    font-weight: bold;
    height: 30px;
    width: 450px;
    background-image: url(download.png);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
    border-radius: 7px;
}
input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;}
.nav{
    position:fixed;
    top: 0;
    right: -210px;
    background-color: white;
    width: 200px;
    height: 100%;
    transition: 1s;
    z-index: 100;
}
.nav.active{
    right: 0;
}
.hnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background: white;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.hnav p sup{
    font-size: 7px;
}
.hnav p{
    cursor: pointer;
}
.hnav img{
    cursor: pointer;
}
.home{
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 7px;
    background-image: url(images__1_-removebg-preview.png);
    background-size: 35px 30px;
    background-repeat: no-repeat;
    background-position: 155px 10px ;
    border-left: solid 5px rgba(28, 29, 29, 0.774);
}
.home:hover{
    background-color: #15151534;
}
.home1{
    text-decoration: none;
}
.home1 p{
    display: inline;
    font-size: 22px;
    position: relative;
    top: 15px;
    left: 90px;
    font-weight: bold;
    color: #000;
}
.action{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-left: solid 5px rgba(28, 29, 29, 0.774);
    margin-left: 5px;
    margin-top: 5px;
    background-image: url(action.png);
    background-size: 45px 35px;
    background-repeat: no-repeat;
    background-position: 140px 7px;
}
.action:hover{
    background-color: #15151534;
}
.action1{
    text-decoration: none;
}
.action1 p{
    display: inline;
    position: relative;
    top: 10px;
    left: 70px;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}
.Cooking{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-left: solid 5px rgba(28, 29, 29, 0.774);
    margin-left: 5px;
    background-image: url(download__1_-removebg-preview.png);
    background-size: 45px 35px;
    background-repeat: no-repeat;
    background-position: 140px 7px;
}
.Cooking:hover{
    background-color: #15151534;
}
.Cooking1{
    text-decoration: none;
}
.Cooking1 p{
    color: #000;
    font-size: 22px;
    font-weight: bold;
    display: inline;
    position: relative;
    top: 10px;
    left: 55px;
}
.Horror{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-left: solid 5px rgba(28, 29, 29, 0.774);
    margin-left: 5px;
    background-image: url(download__2_-removebg-preview.png);
    background-size: 45px 35px;
    background-repeat: no-repeat;
    background-position: 140px 7px;
    background-color: #15151534;
}
.Horror:hover{
    background-color: #15151534;
}
.Horror1{
    text-decoration: none;
}
.Horror1 p{
    color: #000;
    font-size: 22px;
    font-weight: bold;
    display: inline;
    position: relative;
    top: 10px;
    left: 67px;
}
.linebook1{
    width: 100%;
    height:auto;
    display: flex;
}
.linebook11{
    width:550px;
    height: 350px;
    margin: 20px;
    box-sizing: border-box;
    background:radial-gradient(circle,#000000,rgb(102, 8, 8)) ;
    transition: 1s;
    overflow: hidden;
    cursor: pointer;
}

.linebook111{
    display: flex;
    flex-direction: row;
}
.a1{
    width: 130px;
    height: 300px;
}
.p11{
    display: inline-block;
    position: relative;
    left: 125px;
    font-weight: 900;
    color: white;
}
.p21{
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
.p211{
    position: relative;
    bottom: 10px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
.price1{
    display: inline;
    margin-left: 50%;
    font-size: 14px;
    color:green;
    background-color: #000;
}
.linebook11.active{
    width: 1000px;
    height: 320px;
    background: linear-gradient(to bottom,rgb(4, 4, 80),#000);
    border-radius: 25px;
    transition: 2s;
}
.linebook11.active p{
    font-size: 14px;
}
.linebook11.active img{
    width: 130px;
    height: 275px;
    transition: 1s;
}
.textcontent{
    border-left: 4px #fff  solid;
    padding-left:5px ;
}
.linebook2{
    width: 100%;
    height: 400px;
    margin-top: 25px;
    display: flex;
}
.linebook3{
    width: 100%;
    height: 400px;
    display: flex;
}
.linebook4{
    width: 100%;
    height: 400px;
    display: flex;
}
.linebook5{
    width: 100%;
    height: 400px;
    display: flex;
}